/* You can add global styles to this file, and also import other style files */
.content {
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 20rem;
}

p {
	max-width: 960px !important;
}

.thin-border {
	border: 1px solid #BFBFBF;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}
