<div class="content">
  <h1>Graph Overflow</h1>
  Group 5
  <ul>
    <li>Asger Laurits Schultz</li>
    <li>August Semrau Andersen</li>
    <li>Andreas Hornemann Nielsen</li>
  </ul>

  <a href="https://github.com/asgerius/css-project/blob/master/asger.ipynb" target="\_blank">
    Notebook available here
  </a>
  <h2>Table of contents</h2>
  <ol>
    <li>Data</li>
    <li>Stack Overflow as a Graph</li>
    <li>Sentiment analysis and loved languages</li>
    <li>Building a Language Classifier Using TF-IDF</li>
  </ol>

  <div *ngIf="commonService.isLoading">
    <p>Loading data...</p>
    <div class="spinner"></div>
  </div>
  <div *ngIf="!commonService.isLoading">
    <app-data></app-data>
    <app-graph></app-graph>
    <app-sentiment></app-sentiment>
    <app-tfidf></app-tfidf>
  </div>
</div>