<h2>3. Stack Overflow as a Graph</h2>

<p>The Stack Overflow data can naturally be understood as a network in which the individual users are nodes, linked by the interactions they make.<br>The data can hereby be modelled as a directed, weighted graph, in which each node is a unique user on Stack Overflow, and each edge is an interaction between a pair of users, this being a user answering a question asked by another user,or commenting on either a question or an answer by another user. 
    The associated weight is the number of times these users have interacted.</p>
<p>The graph-making process can be further inspected in the notebook, where we use Networkx to model the Stack Overflow data as a DiGraph.</p>
<p>This graph can be partitioned into 16 subgraphs, ie. the 16 different programming languages, and as each user is not bound to interact on just one og these languages, we devide the nodes (users) into partitions based on which programming language they are most heavily weighted and therefor interacted most on.</p>

<h5>Number of Nodes, Edges, Density and In- and Out-Degrees</h5>
<p>On the table further down, we see the number of nodes, edges and density of each partition and entire Stack Overflow network graph on the three leftmost columns.</p>
<p>From this, it is clear that the number of nodes and edges varies quite a bit for the different programming languages. 
The data collection process did not intentionally bias on the basis of any percieved programming popularity, or the included belovedness scores, but did in fact collect different amounts of data based on availability for each programming language, and this is what mainly causes the size difference.</p>
<p>We see that the graph densities are very low, which is no suprise given the very large number of nodes.<br>Recall density is given by density(G) = m &#47; (n &middot; (n-1)), in which n is the number of nodes and m is number of edges, ie. we would need m = n &middot; (n-1) edges for a complete graph with density 1, around 50 billion (9 zeros) for the big Stack Overflow Network graph.</p>
<p>The table also shows in- and out-degrees of the subgraphs and the big Stach Overflow network graph.</p>
<p>VIS IN- OUT-DEGREE TABLE</p>
<p>The degree table and histograms above showcase som key insights in the data:</p>
<ul>
    <li>The max in and out-degrees are significantly larger for several of the programming languages which featured a smaller number of nodes and edges, which indicates that there are less widespread knowledge of the programming language and fewer, bigger players who help the community. This is especially true at Rust, which has one user whose outgoing edges accounted for around 15% of the total number of edges. </li>
    <li>The mode out suggests, that for all programming language partitions, as well as the big graph, around half of users come to Stack Overflow, leave one answer or comment and then leaves. </li>
</ul>
<p>
    The following figure shows the distribution of in and out degrees in the network.
    In the notebook, the distributions for the single-language networks are also plotted, with all of them looking similar to the full graph.
</p>
<plotly-plot [data]="degdist.data" [layout]="degdist.layout" [config]="degdist.config"></plotly-plot>

<p>From the degree plots, we see that the different programming language partitions are very similar, though still importantly resemble real, non-random networks.</p>
<h5>Modularity</h5>
<p>We now want to investigate whether the network we have graphed from the Stack Overflow data is in fact random or not.
By having partitioned the Stack Overflow network graph based on the different programming languages, we can compute the modularity of the graph and answer this question.</p>
<p>Modularity is loosely speaking a measure of how good a given partitioning of a graph is, with higher modularity implying better partitioning.
Specifically, modularity measures how much edge densities in each partition vary from the global edge density.
In random networks, no systematic differences exist, and the modularity should be expected to be distributed with a mean of 0.
This provides a way to determine if a given partitioning is a result of chance or not.</p>
<div class="row">
    <div class="col-md-6">
        <p>The modularity of the Stack Overflow network graph is 0.7357, which indicates that programming languages partition the graph into clear communities.</p>
        <p>To further confirm this, we use a configuration model for generating 200 random variations of the Stack overflow network graph, which show a modularity somewhat normally distributed around 0 with a tiny standard deviation.</p>
        <p>It seems the partitioning of the different programming languages is very good.</p>
    </div>
    <div class="col-md-6">
        <img src="https://github.com/asgerius/css-project/raw/master/website/src/assets/confmodel.png">
    </div>
</div>
<p></p>

<h5>The Louvain Algorithm</h5>
<p>Running the Louvain algorithm to end this partitioning investigation, yields a modularity of 0.7629 with 6113 partitions.<br>The Louvain algorithm thus found a higher modularity than with the programming language specific partitioning. 
This shows that it is possible to divide the graph into components that are even stronger internally connected according to the modularity measure.</p>
<h5>Vizualizing the network</h5>
<p>Lastly, we use Netwulf to show the Stack Overflow network graph, each progamming language having the color seen in the table to the right.</p>
<p>Looking at the network like this, some observations can be made:</p>
<ul>
    <li>It seems that users who belong to the programming languages Java, Javascript and to some extent Typescript and Python mix quite a bit, and especially the first two gravitate toward the middle of the graph, meaning they presumably interact more or less with all the other partitions. This indicates that users in these partitions come to Stack Overflow mainly to ask or answer/comment on problems related to the four programming languages, but also interact on other programming languages.</li>
    <li>This above notion is starkly contrasted by the users belonging to the programming languages Rust, Objective-c, Go, Dart, Ruby, Vba and Perl which all group densely alone, indicating these users come to Stack Overflow with problems only related to one of these programming languages, and rarely interact on other prgoramming languages.</li>
    <li>Not so strangely, the two closely related programming languages C and C++ also seem closely related in the graph, grouping closely with one another.</li>
    <li>Not so strangely either, Python and Perl also seem closely related in the graph, this going with the notion that these programming languages are quite similar.</li>
</ul>
<div class="row">
    <div class="col-md-9">
        <img src="https://github.com/asgerius/css-project/raw/master/website/src/assets/network.png">
    </div>
    <div class="col-md-3">
        <img src="https://github.com/asgerius/css-project/raw/master/website/src/assets/colours.png">
    </div>
</div>


