<h2>1. Data</h2>

<p>
    We collected our data using the Stack Overflow API.
</p>
<p>
    Our raw data is available on <a href="https://github.com/asgerius/css-project/">our GitHub repository</a> under the "data" folder, where it is split by programming language.
    The prepared dataframe is too large to host on GitHub, but it can be generated locally.
    Simply clone the repository and run all cells in section 2.
    This will generate a local Pandas DataFrame that is saved as "data.pkl".
</p>

