<h2>2. Data</h2>

<h5>Overview and Collection</h5>
<p>
    We collected our data using the Stack Overflow API.
    We queried for up to 100 threads per week in the period 2015-2019 for each of the 16 afforementioned programming languages by asking for threads with the languages as tags.
    A thread consists a question as well as a number of answers and comments, which can both be to the question itself and to the answers.
    As we query by question date, some of the data extends past 2019 due to later activity on the thread.
    The set of all questions, answers, and comments will be denoted the submissions.
    All submissions are collected into a single dataframe, where each row is a submission.
    For each submission, the informtion on the author, the body of text (which is raw HTML), the question ID, the date of posting, the language, and, for comments if relevant, the answer ID, is saved.
    In total, the collected data totals roughly 1.4 GB.
    This spans 182,678 questions, 252,693 answers, and 837,182 comments for a total of 1,272,553 submissions written by 227,571 authors.
</p>
<p>
    We also use the <a href="https://insights.stackoverflow.com/survey/2020#most-loved-dreaded-and-wanted">Stack Overflow 2020 Developer Survey</a>.
    In particular, we use the question on the most loved programming languages, which is the number of active developers who would like to continue developing with the given language.
</p>

<h5>Preparation and Cleaning</h5>
<p>
    The data preparation consists of two cleanings, one targeting a classifier, and one targeting sentiment analysis.
    For both, we remove links, stopwords, and HTML tags.
    For classification, non-alphanumeric characters are furthermore removed, and all text is converted to lower case.
    For sentiment analysis, code sections are removed.
    To understand how the cleaning affected the size of the submissions, we plot the distribution of submission sizes by word before cleaning and after each type of cleaning.
</p>
<div class="row">
    <div class="col-md-6">
        <p>
            Unexpectedly, both cleanings reduce the size of the submissions, though not by much, and the shapes of the distributions are retained.
        </p>
        <p>
            It is seen while questions largely are only a little longer than answers, very short answers are much more common than very short questions.
            Furthermore, comments stand out as generally much shorter than either of the other two submission types, which is not surprising.
        </p>
    </div>
    <div class="col-md-6">
        <plotly-plot [data]="n.data" [layout]="n.layout" [config]="n.config"></plotly-plot>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <plotly-plot [data]="c.data" [layout]="c.layout" [config]="c.config"></plotly-plot>
    </div>
    <div class="col-md-6">
        <plotly-plot [data]="s.data" [layout]="s.layout" [config]="s.config"></plotly-plot>
    </div>
</div>

<h5>Obtaining the Data</h5>
<p>
    Our raw data is available on <a href="https://github.com/asgerius/css-project/">our GitHub repository</a> under the "data" folder, where it is split by programming language.
    The json files contain the raw data, while the pkl files are somewhat cleaned Pandas DataFrames.
    The fully prepared dataframe with all submissions and both types of cleanings is available <a href="https://nx5746.your-storageshare.de/s/QJTQ66qQF9fyqP2">here</a>.
</p>

