<h2>5. Partitioning the Graph Using the Classifier</h2>
<p>
    In order to further validate the classifier, we use it to divide the network into communities.
    For each author, we classify their top programming language by using the combined text of all their submissions.
    Using this partitioning, we achieve a modularity of 0.3852.
    This is not as good as using the tagged programming languages, but it is still indicative of a good partitioning that is many standard deviations from being the result of a random network.
</p>

