<h2>1. Introduction</h2>

<p>
    The purpose of this project is to analyze programming language communities on Stack Overflow.
    We focus our investigation on community detection, sentiment analysis, and programming language classification from text.
</p>
<p>
    Stack Overflow (SO) is a large forum where people ask questions about programming in a particular programming language.
    Each thread consist of a question with answers and comments, where  the answers can also have comments.
    By considering SO as a network, we expect the programming languages to clearly divide the users into communities.
    We also expect people to be more positive if they like the languages that they work with, which is also investigated.
</p>
<p>
    To do so our assignment takes you through the collection of data, creating some basic Network analysis as well as visualising network structures and deep diving into these networks in terms of modularity etc.
    On top of this, we'd like to calculate TF-IDF scores and find out what words are unique and common for each programming language, making us able to classify between them. 
    Create sentiment analysis using Vader to compare over the span of 5 years for all languages as well as an overall sentiment, as well as comparing the sentiment analysis with the StackOverflow survey for 2020.
</p>

<h5>End-user goal </h5>
<p>
    As part of this project and our scope, we'd like to focus on creating a nice and beautiful overview of our findings on a website, including interactable graphs and minimalistic and beautiful data visualization allowing for the best experience. 
    A prime key feature for our website is the interactable plots and classifiers, allowing for a smooth and fluent experience without getting sore eyes from the pure text.
</p>
<p>
    As well as a website, a complete notebook is attached with all code written as part of the project with comments to guide through in a simplistic neat manner, showing off all parts of our project, data gathering, computations, analyses and visualizations. 
</p>