<h2>1. Introduction</h2>

<h5>Overall Idea and data selection </h5>
<p>
    Overall the idea of this project is to differentiate between programming languages, 
    by utilizing our computational social science skillset we've accquired throughout this course on the user interactions within StackOverflow. 
    From here figure out whether or not this could be defined as a community.
</p>
<p>
    Being three data scientist students in AI, probably the main forum when programming is StackOverflow, 
    and despite being fairly new compared to some of the old experts on there, 
    find the forum more than just any other forum, in fact we'd like to consider it a community,
 and we'd like to test the hypothesis of this being the case and language differentiable.
</p>
<p>    
    To do so our assignment takes you through the collection of data, creating some basic Network analysis as well as visualising network structures and deep diving into these networks in terms of modularity etc.
    On top of this, we'd like to calculate TF-IDF scores and find out what words are unique and common for each programming language, making us able to classify between them. 
    Create sentiment analysis using Vader to compare over the span of 5 years for all languages as well as an overall sentiment, as well as comparing the sentiment analysis with the StackOverflow survey for 2020.
</p>

<h5>End user goal </h5>
<p>
    As part of this project and our scope we'd like to focus on creating a nice and beautiful overview of our findings on a website, including interactable graphs and minimalistic and beautiful data visualization allowing for the best experience. 
    A prime key feature for our website is the interactable plots and classifiers, allowing for a smooth and fluent experience without getting sore eyes from pure text.
</p>
<p>
    As well as a website, a complete notebook is attached with all code written as part of the project with comments to guide through in a simplistic neat manner, showing off all parts of our project, data gathering, computations, analyses and visualizations. 
</p>