<h2>1. Introduction</h2>

<p>
    The purpose of this project is to analyze programming language communities on Stack Overflow.
    We focus our investigation on community detection, sentiment analysis, and programming language classification from text.
</p>
<p>
    Stack Overflow (SO) is a large forum where people ask questions about programming in a particular programming language.
    Each thread consist of a question with answers and comments, where  the answers can also have comments.
    By considering SO as a network, we expect the programming languages to clearly divide the users into communities.
    We also expect people to be more positive if they like the languages that they work with, which is also investigated.
    Finally we build a programming language classifier and use this to divide users into communities and compare that to the true language communities.
    To do this, we use a number of methods and techniques, including text cleaning, network analysis, sentiment analysis, and TF-IDF.
</p>
