<h2>4. Sentiment Analysis and Loved Languages</h2>

<p>
    One might suspect that people in general are more positive when asking and answering questions about technologies that they like.
    The purpose of this section is to figure out if that is indeed the case:
    Is there a positive correlation between sentiment and how beloved a language is according to the developer survey?
</p>
<p>
    To do this, we use <a href="https://pypi.org/project/vader-sentiment/">VADER</a> for analyzing sentiments.
    VADER uses both dictionary based methods and context to calculate sentiments given a text piece, which helps it achieve useful results.
</p>

<div class="row">
    <div class="col-md-5">
        <p>
            First, we look at the overall distribution of sentiments.
            24 % of sentiments are exactly 0, which is expected both due to the short length of many submissions and large amount objective language is expected.
        </p>
        <p>
            We then plot the sentiments of the submissions against the belovedness of the languages and calculate the best linear fit with the least squares method.
            A weak, positive correlation appears.
            This is indicative that people are more positive when writing about languages that they enjoy using.
            Surprisingly, however, VBA, is a significant outlier, being both the least beloved language and also having by far the highest sentiment.
            If you try removing it, you can see the correlation becoming much stronger.
        </p>
    </div>
    <div class="col-md-7">
        <plotly-plot [data]="sentdist.data" [layout]="sentdist.layout" [config]="sentdist.config"></plotly-plot>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <plotly-plot [data]="sentcorr.data" [layout]="sentcorr.layout" [config]="sentcorr.config"></plotly-plot>
    </div>
    <div class="col-md-3">
        <form>
            <div class="form-group">
                <ul class="nobullet-list">
                    <li *ngFor="let lang of commonService.languages; let i = index;">
                        <input [id]="lang" type="checkbox" (ngModelChange)="onChange(i, $event)" [ngModel]="selectedLanguages[i]" [name]="lang">&nbsp;
                        <label [for]="lang">{{commonService.capitalize(lang)}}</label>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>
<p>
    Best fit: y = {{a|number:"1.6-6"}}x + {{b|number:"1.4-4"}}<br>
    Correlation: {{corr|number:"1.4-4"}}
</p>

<div class="row">
    <div class="col-md-4">
        <p>
            A potential weakness of this study is that we have used the belovedness scores from the 2020 survey.
            As most of our data is older, we make sure no temporal differences exist, so that the comparison with sentiment scores makes sense.
            As the figure shows, there is little variation over time.
            The grey lines are for each individual langauge, and while variant, they overall change little.
            Over the entire dataset, the variance is negligible.
        </p>
    </div>
    <div class="col-md-8">
        <img src="https://github.com/asgerius/css-project/raw/master/website/src/assets/timesent.png">
    </div>
</div>

