<h2>6. Discussion</h2>

<p>
    Hereby, we conclude this analysis of Stack Overflow. 
</p>
<p>The analysis was motivated by the perception that Stack Overflow is essentially a community of users, who interact with each other on the basis of itnerest and problems related to programming.</p>
<p>On the basis of data relating to 16 different programming languages, collected using the Stack API, the analysis was performed in three parts: </p>
<ul>
    <li>The interactions of the different users were modelled in a network graph, which gave insight into how these programming language partitions were distinct.</li>
    <li>All bodies of text for each submission was analysed in terms of sentiment and scored accordingly, it was found that the sentiment scores of our analysis did not clearly match the Stack overflow belovedness scores, yet a slight trend was found.</li>
    <li>Lastly, a classifier was created in order to try and differentiate bewteen the different programming language users, using both text (TF-IDF) and network ideas, and this was with decent success able to classify which programming language different users belonged to.</li>
</ul>

Thank you for reading along, we hope you learned somehting.